{% extends 'base.html' %}
{% load static %}
{% block title %}
    Anasayfa - {{ block.super }}
{% endblock %}

{% block body %}
	<strong><h1><font color="White">Hoşgeldin, {{ request.user.get_full_name}} </font> </h1></strong> 

		 <div class="container">
	        <div class="row">
	          <div class="col-md-6 col-md-offset-3">
	            <div class="thumbnail">
	            	{% for lin in links %}
	            		<iframe src="{{ lin.link['src']}}" height="{{lin.link['height']}}" width="{{lin.link['width']}}" frameborder="{{lin.link['frameborder']}}" allowfullscreen=""></iframe> 
	            	{% endfor %}
	            </div>
	          </div>
	        </div>
	    </div>
    
{% endblock %}
